@charset "UTF-8";

body, html, .main-content {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*============================================================================*/
/*------------------------------- Main Layout --------------------------------*/
/*============================================================================*/

.canvas {
    position: relative;
    height: 100%;
    min-height: 100%;
    left: 0;
    z-index: 2;
    padding: 50px 0 0 0;
    background: #fff;
}

.main-content {
    display: table;
    width: 100%;
    /*margin-top: -50px;*/
    /*padding: 50px 0 0 0; *//*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-content.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.content-row {
    height: 100%;
    display: table-row;
}

.content-row .recent-questions-section, .content-row .top-questions-section {
    display: table-cell;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100%;
}

#top-questions-container {
    margin-top: 2.6em;
}

.top-questions-container hr {
    display: none !important;
}

.recent-questions-section {
    background-color: #ffffff;
    padding: 0 3em;
}

.recent-questions-section, .top-questions-section {
    /*overflow: hidden;*/
}

.top-questions-section {
    padding: 0 2.5em;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.top-questions-section .section-label {
    margin-left:1em;
}

/*============================================================================*/
/*------------------------------------ Nav -----------------------------------*/
/*============================================================================*/

.mobile-toggle .navbar-toggle {
    font-size: 2em;
    position: relative;
    float: left;
    padding: 3px 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar {
    padding: 0 1em;
    background-color: #20597F;
    height: 50px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.10em;
    color: #ffffff;
    border-radius: 0;
}

.navbar a {
    color: #e4e3e4;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:focus,
.nav > li > a:hover {
    background-color: #226a95;
    outline: none;
}

.nav span.fa {
    font-size: 1.3em;
}

.nav .room-controls .dropdown-menu {
    color: #bebebe;
}

 li, .votes-p{
    font-weight:300;
}


#offcanvas-nav .search-questions {
    margin: 1em;
}

#offcanvas-nav .poll-on,
.poll-on {
    color: rgb(151, 241, 14) !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#offcanvas-nav .test-in-progress-btn.active,
.test-in-progress-btn.active {
    color: #ff424e;
    text-shadow: 2px 0 6px #226a95;
}

.test-in-progress-btn.active .test-in-progress-btn.active.done,
.test-in-progress-btn.active.done {
    color: #97F10E;
    text-shadow: 2px 0 6px #226a95;
}

.dropdown-menu > li > span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #414141;
    white-space: nowrap;
}

.navmenu-nav .drop-down-room-id {
    padding-left: 1em;
    font-weight: 700;
}

.navmenu-nav .room-id-label {
    padding-left: 1em;
}

/*============================================================================*/
/*----------------------------- Login Overlay --------------------------------*/
/*============================================================================*/

#join-create-room .btn {
    /*text-transform: uppercase;*/
    font-family: monospace;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px #999;
    border-radius: 0;
}

.make-join-warning {
    font-size: 1.3em;
    visibility: hidden;
    border-radius: .2em;
    color: rgba(255, 255, 255, 0.60);
    padding: .5em;
    margin-top: .5em;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-59%);
}

.login-overlay {
    color: #FFF;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #20597F;
    visibility: visible;
    z-index: 9999;
}

#room-name-field {
    padding-right: 0;
    padding-left: 0;
}

/*============================================================================*/
/*------------------------ Recent/Top Questions ------------------------------*/
/*============================================================================*/

/*------------------------------- Search box ---------------------------------*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/*------------------------------- Search box ---------------------------------*/

.init-text {
    color: rgba(190, 190, 190, 0.2);
    text-transform: uppercase;
    font-size: 1.9em;
    margin-top: 6em;
    font-weight: bold;
}

.init-text i.fa {
    font-size: 3em;
}

.search, .selection {
    margin-top: 2.5em;
}

.section-label {
    margin-top:3em;   
    font-weight: 700;
    color:#20597F;
}

.search, .section-label {
    margin-bottom: 3%;
}

.selection {
    margin-bottom: 1.5em;
}

.recent-questions-section .selection {
    margin-bottom: 12px;
}

.selection button {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.selection i {
    float: right;
    margin-top: 3px;
}

.recent-questions-section .selection button {
}

.top-questions-section .selection button {
    width: 100%;
}

.recent-questions-container {
    margin-bottom: 3%;
}

#top-questions-container .top-question {
    display: none;
}

.question-content {
    word-wrap: break-word;
    padding-top:0.7em;
}

.question-content p{
    margin-bottom: 1.2em;
    font-size:15px;
}

.question-content .text-right li{
    padding: 0 1em;
}

.top-question {
    margin-bottom: 1.5em;
    background-color: #ffffff;
    position: relative;
    font-size: 15px;
    font-weight: 600;
}

.top-question .comment-section p {
    font-weight: 300;
    font-size: 15px;
}

.top-question .warn-user {
    margin-bottom:0.7em;
}



.question-controls .fa-thumbs-o-up,
.question-controls .fa-thumbs-o-down,
.question-controls .fa-thumbs-up {
    color: #183F66;
}

.question-controls .fa-thumbs-down {
    color: #91031B;
}

.com-active {
    display: none;
}

.num-comments {
    text-align: right;
    /*margin-right:0.5em;*/
}

.top-questions-container .comment-section {
    padding: 5%;
}

.recent-questions-container .comment-section {
    padding: 2.5%;
}

.comment-section {
    background-color: #E6ECEF;
    display: none;
}

.comment-section #more {
    color: #90A4AD;
    font-style: italic;
    font-size: 13px;
}

.top-questions-container .comment-section a, .top-questions-container .comment-section p {
    margin: 4% 2%;
}

.recent-questions-container .comment-section a, .recent-questions-container .comment-section p {
    margin: 2% 1%;
}

.recent-questions-section .dropdown {
}

.question {
    font-size: 0.97em;
    margin-bottom: 0;
}

.top-questions-container .question-content {
    padding: 6%;
}

.askquestion {
    position: fixed;
    bottom: 0;
    right: 0.08em;
    background-color: #f6f8fe;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 5px;
    margin-right: -1.2px;
    z-index:1;
}

.askquestion .special-formatting-text {
    font-size: 0.7em;
    padding: 0;
    opacity: 0.7;
}

.askquestion {
    padding-bottom: .3em;
}

.askquestion .input-group {
    margin-bottom: .1em;
}

.num-votes, .num-comments {
    padding: 0.1em .5em;
    background-color: rgb(144, 144, 144);
    color: #ffffff;
    font-size:16px;
}

.question-controls .question-controls-left {
    padding-left: 1em;
}

.student-view .list-inline li {
    padding:1em;
}

.owner .num-votes {
    background-color: #D1D1D1;
    padding: 5px;
}

.owner .warn-user-pic, .owner .dismiss-question-pic {

    padding-left: 0;

    height: 1.7em;
    width: 2.8em;

}

.delete-room-warning img {
    display: block;
    margin: auto;
    max-height: 30em;
}

.poll-controls a, .room-controls a {
    font-size: 13px;
}


.canvas-slid {
    overflow: hidden;
}

.votes-p {
    color:#b5b5b5;
}

.dismiss-question i, .warn-user i {
    padding-left: 0.2em;
    font-size: 2em;
}

.warn-user, .dismiss-question {
    color:#20597F;
    font-weight:300;
    font-size:0.97em;
}

.sidenav-header {
    font-weight: 700;
    color: #000000;
    padding-left: 1em;
    padding-right: 1em;
}

.warn-user:hover {
    text-decoration: none;
    color:#9f0203;
}

.dismiss-question:hover {
    text-decoration: none;
    color:#706e6e;
}


@media only screen and (max-width: 767px) {
    /*.top-questions-section {*/
    /*height: 100%;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*}*/
    /*.recent-questions-section {*/
    /*z-index:10*/
    /*margin-bottom: 10%;*/
    /*clear: both;*/
    /*position: relative;*/
    /*}*/
    /*.rest {*/
    /*top: 0px;*/
    /*overflow-y: hidden;*/
    /*}*/
    /**/
    /*.canvas .room-name {*/
    /*font-size:20px   */
    /*}*/
    /**/
    /*.votes-p {*/
    /*margin-left:-1em;   */
    /*}*/
    
    .section-label {
        margin-top:2em;
        margin-bottom:2%;
    }
    
    .top-questions-section .section-label {
        margin-left:0;   
    }
    
    .top-question .warn-user {
        margin-bottom:0;   
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

@media only screen and (max-width: 900px) {
    .canvas .room-name {
        font-size: 15px;
    }
}

@media only screen and (max-width: 990px) {
     .search {
        margin-top:0.5em;   
    }   
    
    .dismiss-question {
        margin-top:0.5em;   
    }
}
