@charset "UTF-8";


body, html {
    margin: 0;
    height: 100%;
}

p, a, li, select, input {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-questions-container hr {
    display: none !important;
}

.canvas {
    position: relative;
    left: 0;
    z-index: 2;
    min-height: 100%;
    padding: 50px 0 0 0;
    background: #fff;
}

.rest .container-fluid {
    padding: 1%;
}

.mobile-toggle .navbar-toggle {
    font-size: 2em;
    position: relative;
    float: left;
    padding: 3px 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.navbar {
    /*position: fixed;*/
    background-color: #20597F;
    /*top: 0;*/
    /*width: 100%;*/
    height: 50px;
    /*z-index: 10;*/
    /*padding-top: 8px;*/
}

.navbar {
    /*display: inline;*/
    /*font-size: 20px;*/
    /*padding: 20px;*/
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.10em;
    color: #ffffff;

}

#join-create-room .btn {
    /*text-transform: uppercase;*/
    font-family: monospace;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px #999;
    border-radius: 0;
}

.make-join-warning {
    font-size: 1.3em;
    visibility: hidden;
    border-radius: .2em;
    color: rgba(255, 255, 255, 0.60);
    padding: .5em;
    margin-top: .5em;
}

.rest {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    top: 50px;
}

.top-questions-section {

    /*background-color: #D3D3D3;*/
    padding: 4% 4% 4% 4%;
    min-height: 100%;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.recent-questions-section {
    background-color: #ffffff;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4% 4% 4% 4%;
}

.selection {
    margin-top: 0;
    margin-bottom: 1.5em;
}

.recent-questions-section .selection {
    margin-bottom: 12px;
}

.selection button {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.selection i {
    float: right;
    margin-top: 3px;
}

.recent-questions-section .selection button {
}

.top-questions-section .selection button {
    width: 100%;
}

.top-questions-container {
    margin-bottom: 5%;
}

.recent-questions-container {
    margin-bottom: 3%;
}
#top-questions-container .top-question {
    display: none;
}

.question-content {
    word-wrap: break-word;
}

.top-question {
    margin-bottom: 1.5em;
    background-color: #ffffff;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.top-question .comment-section p {
    font-weight: 300;
    font-size: 15px;
}

.fa-thumbs-o-up, .fa-thumbs-o-down, .fa-thumbs-up {
    color: #183F66;
}

.fa-thumbs-down {
    color: #91031B;
}

.comment {
    padding-left: 0px;

    height: 1.7em;
    width: 2.8em;
}

.com-active {
    display: none;
}

.num-comments {
    text-align: right;
    /*margin-right:0.5em;*/
}

.top-questions-container .comment-section {
    padding: 5%;
}

.recent-questions-container .comment-section {
    padding: 2.5%;
}

.comment-section {
    background-color: #E6ECEF;
    display: none;
}

.comment-section #more {
    color: #90A4AD;
    font-style: italic;
    font-size: 13px;
}

.top-questions-container .comment-section a, .top-questions-container .comment-section p {
    margin: 4% 2%;
}

.recent-questions-container .comment-section a, .recent-questions-container .comment-section p {
    margin: 2% 1%;
}

.recent-questions-section .dropdown {
}

.question {
    font-size: 0.97em;
    margin-bottom: 0;
}

.top-questions-container .question-content {
    padding: 6%;
}

.search {
    margin-bottom: 3%;
}

/*.sidebar {*/
/*position: fixed;*/
/*top: 51px;*/
/*bottom: 0;*/
/*left: 0;*/
/*z-index: 1000;*/
/*display: block;*/
/*overflow-x: hidden;*/
/*overflow-y: auto;*/
/*background-color: #f5f5f5;*/
/*border-right: 1px solid #eee;*/
/*}*/

.navbar {
    border-radius: 0;
}

.navbar a {
    color: #e4e3e4;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav>li>a:focus,
.nav>li>a:hover {
    background-color: #226a95;
    outline: none;
}

.nav span.fa {
    font-size: 1.3em;
}

/*------------------------------- Room Controls ------------------------------*/

nav .room-controls .dropdown-menu {
    color: #bebebe;
}

.nav .poll-on {
    color: rgb(151, 241, 14);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.test-in-progress-btn.active {
    color: #ff424e;
    text-shadow: 2px 0 6px #226a95;
}

.test-in-progress-btn.active.done {
    color: #97F10E;
    text-shadow: 2px 0 6px #226a95;
}

/*----------------------------/ Room Controls --------------------------------*/


.dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #414141;
    white-space: nowrap;
}

.navmenu-nav .drop-down-room-id{
    padding-left:1em;
    font-weight:700;
}

.navmenu-nav .room-id-label {
    padding-left:1em;   
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-59%);
}

.login-overlay {
    color: #FFF;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #20597F;
    visibility: visible;
    z-index: 9999;
}

#room-name-field {
    padding-right: 0;
    padding-left: 0;
}

.askquestion {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    right: 0.08em;
    background-color: #f6f8fe;
    /*background-image: url(../images/stripes.jpg);*/
    padding-top: 1em;
    padding-bottom: 1em;
    /*padding-right:0px;
    padding-left:0px;*/
    margin-left: 5px;
    margin-right: -1.2px;
}

.askquestion .special-formatting-text {
    font-size: 0.7em;
    padding: 0;
    opacity: 0.7;
}

.askquestion {
    padding-bottom: .3em;
}

.askquestion .input-group {
    margin-bottom: .1em;
}

.num-votes, .num-comments {
    font-weight: 400;
}


.owner .num-votes {
    background-color: #D1D1D1;
    padding:5px;
}

.owner .warn-user-pic, .owner .dismiss-question-pic{

    padding-left: 0px;

    height: 1.7em;
    width: 2.8em;
 
}

.delete-room-warning img {
    display:block;
    margin:auto;
    max-height: 30em;
}

/*.modal-dialog,*/
/*.modal-content {*/
    /* 80% of window height */
    /*height: 80% !important;*/
/*}*/

/*.modal-body {*/
    /* 100% = dialog height, 120px = header + footer */
    /*max-height: calc(100% - 120px);*/
/*}*/

/*.askQuestion .form-control{
	width:80%;
}

.askQuestion img {
	height:2.5em;
}*/

.poll-controls a, .room-controls a{
    font-size: 13px;
}

.sidenav-header {
 font-weight:700;
    color:#000000;
    padding-left:1em;
    padding-right:1em;
}

.canvas-slid{
    overflow:hidden;
}


@media only screen and (max-width: 767px) {
    .top-questions-section {
        height: 100%;
        position: relative;
        z-index: 10;

    }

    .recent-questions-section {
        /*z-index:10*/
        margin-bottom: 10%;
        clear: both;
        position: relative;
    }

    .rest {
        top: 0px;
        /*overflow-y: scroll;*/
        overflow-x: hidden;
    }
    
    .canvas .room-name {
        font-size:20px   
    }
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (max-width:900px) {
    .canvas .room-name {
        font-size:15px;
    }
}
