!!!5
doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='style.css')
  body
    .container
      .topbar
        block topbar
      .main-content
        .question.topT
          block question
        .question.otherQ
          block question
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus